* {
    margin: 30px;
    padding: 0;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    background: #eee;
    width: 100%;
    height: 100%;
    overflow-x: hidden;

    font-family: 'Lato', Helvetica, sans-serif;
    font-size: 16px;
    color: #222;

    -webkit-overflow-scrolling: touch;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
    body p {
        font-size: 16px;
        line-height: 1.32;
    }

input,
button {
    height: 35px;
    width: 150px;
    font-size: 15px;
    margin-top: 0px;
}

button {
    border: 0px;
    padding: 8px 10px;
    border-radius: 1px;

    cursor: pointer;
    color: #fff;
    background: #7aa76d;
    text-align: left;

    -webkit-transition: 0.15s background ease;
       -moz-transition: 0.15s background ease;
        -ms-transition: 0.15s background ease;
         -o-transition: 0.15s background ease;
            transition: 0.15s background ease;
}
    button:hover {
        background: #91cd85;
    }
    button:active {
        background: #60895a;
    }

h3 {
    margin-bottom: 5px;
}
.answer {
    margin-top: 0px;
}
